@import "tailwindcss";

html, body, #root {
  background-color: transparent; /* Importante: Fondo invisible */
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Evitar barras de scroll en la ventana principal */
}
